.wrap {
  width: 100%;
  padding: 32px 20px 36px 20px;
  background-color: var(--white);
}

@media screen and (max-width: 1120px) {
  .wrap {
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .wrap {
    height: 100vh;
  }
}

@media screen and (min-width: 540px) {
  .wrap {
    width: 540px;
    border-radius: 20px;
    padding: 40px 58px 66px 65px;
  }
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.logo__img {
  display: inline-block;
}

.form {
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 40px;
  cursor: pointer;
}

.form__lable {
  position: absolute;
  top: 0;
  left: 54.5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--input-text-color);
  cursor: pointer;

  transition: transform 0.3s ease-out;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input {
  height: 100%;
  width: 100%;
  display: block;
  padding-left: 54px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--input-text-color);
  background-color: var(--white);
}

.form__input:focus + .form__lable,
.form__input:not(:placeholder-shown) + .form__lable {
  transform: translateY(-40px);
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 50px;

  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1.6px;

  color: #ffffff;

  background-color: var(--accent-color);

  border: 1px solid var(--accent-color);
  border-radius: 20px;

  cursor: pointer;

  margin: 0 auto;
  margin-bottom: 20px;

  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.form__btn:hover,
.form__btn:focus {
  background-color: transparent;
  color: var(--accent-color);
}

.form__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 50px;

  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 1.6px;

  color: var(--second-accent-color);

  background-color: transparent;

  border: 1px solid var(--second-accent-color);
  border-radius: 20px;

  cursor: pointer;

  margin: 0 auto;

  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.form__link:hover,
.form__link:focus {
  background-color: var(--second-accent-color);
  color: var(--white);
}

.error {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  color: red;
  text-align: center;
}
