.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

      

    border: none;
    outline: none;

    cursor: pointer;

    background: var(--accent-color);    
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

}

@media screen and (min-width: 576px) {
    .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    
}