.wrap {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; 
    padding-bottom: 20px  ;  
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.form__groupChek {
    justify-content: center;
    /* margin-bottom: 40px; */
}

.form__checkLabel {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #E0E0E0;
}

.form__checkLabel_income {
    color: var(--accent-color);
}

.form__checkLabel_expense {
    color: #FF6596;
}

.chekOut {
    position: relative;
    width: 80px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.chekInner {
    position: absolute;
    width: 44px;
    height: 44px;    
    top: -2px;
    left: 37px;
    background: #FF6596;
    box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__checkbox:checked + .chekInner {
    left: -2px;
    background: var(--accent-color);
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

.form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

.form__select {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.form__text {
    padding: 4px 20px 4px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #BDBDBD;
    /* margin-bottom: 40px; */
}

.form__input input {
    display: block;
    padding: 4px 20px 4px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #BDBDBD;
}

.form__date {
    position: relative;
    width: 100%;
}

.form__icon {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 8px
}

.form__textarea {
    min-height: 84px;
    width: 100%;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    resize: none;
    font-size: 18px;
    line-height: 1.5;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__btn {
    height: 50px;
    padding: 13px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}
.form__btn + .form__btn {
    margin-top: 20px;
}

.form__btn_add {
    color: #FFFFFF;
    background: #24CCA7;
    border: 1px solid #24CCA7;
}

.form__btn_add:hover,
.form__btn_add:focus {
    color: #24CCA7;
    background: #FFFFFF;  
}

.form__btn_cancel {
    background: #FFFFFF;
    color: #4A56E2;
    border: 1px solid #4A56E2;
}

.form__btn_cancel:hover,
.form__btn_cancel:focus {
    color: #fff;
    background: #4A56E2;
}
